SHAREPOINT_TENANT_ID=
SHAREPOINT_CLIENT_ID=
SHAREPOINT_CLIENT_SECRET=
SHAREPOINT_THUMBPRINT=
SHAREPOINT_PRIVATE_KEY=
SHAREPOINT_PRIVATE_KEY_BASE64=
SHAREPOINT_HOSTNAME=isaia.sharepoint.com
SHAREPOINT_SITE_PATH=/sites/branding
SHAREPOINT_DRIVE_NAME=Documenti condivisi
SHAREPOINT_BASE_FOLDER=Shared Folder/02_Collezioni
PUBLIC_APP_ORIGIN=
MEDIA_SIGNING_SECRET=
AUTH_SECRET=
AUTH_BOOTSTRAP_USERNAME=
AUTH_BOOTSTRAP_PASSWORD=
PINTEREST_TITLE_PREFIX=Isaia Napoli
PINTEREST_DESCRIPTION_PREFIX=ISAIA Napoli
PINTEREST_LINK_URL=https://www.isaia.it/
PINTEREST_THUMBNAIL_MODE=blank
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=
